<hr>
<!-- Start About Section -->
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="main_about_area">
          <div class="head_title center m-y-3 wow fadeInUp">
            <h2>Who we are</h2>
            <p>Web Next Technology is a leading web designing services Provider Company in Noida.
               We have expertise knowledge in different parts of web design include web graphic design, 
               interface design, user experience design. We make designs by 
              taking care of Engaging, purposeful, responsive and creativity in website designs. </p>
          </div>

          <div class="main_about_content">
            <div class="row">
              <div class="col-md-6">

                <div class="main_accordion wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">

                  <div class="single_accordion">
                    <button class="accordion active">Mission Business Solution</button>
                    <div class="panel show">
                      <p>
                        To help businesses, organizations, and entrepreneurs achieve 
                        brand objectives through futuristic feature-rich.</p>
                    </div>
                  </div>

                  <div class="single_accordion">
                    <button class="accordion active">Work Culture</button>
                    <div class="panel show">
                      <p>We follow a work culture where everyone is open to new ideas and thoughts. 
                       </p>
                    </div>
                  </div>

                  <div class="single_accordion">
                    <button class="accordion active">Transparency</button>
                    <div class="panel show">
                      <p>We believe, transparency in work helps in attaining desired outcome.
                         We have a clear and focused approach towards our services and expertise.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="single_about about_progress">
                  <div class="skill wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
                    <!-- progress start -->
                    <div class="progress">
                      <div class="lead">Web Development 95%</div>
                      <div class="progress-bar wow fadeInLeft" data-progress="95%" style="width: 95%;" data-wow-duration="1.5s" data-wow-delay="1.2s"></div>
                    </div>
                    <!-- progress end -->
                    <!-- progress start -->
                    <div class="progress">
                      <div class="lead">App Development 90%</div>
                      <div class="progress-bar wow fadeInLeft" data-progress="90%" style="width: 90%;" data-wow-duration="1.5s" data-wow-delay="1.2s"></div>
                    </div>
                    <!-- progress end -->
                    <!-- progress start -->
                    <div class="progress">
                      <div class="lead">Software Development 85%</div>
                      <div class="progress-bar wow fadeInLeft" data-progress="85%" style="width: 85%;" data-wow-duration="1.5s" data-wow-delay="1.2s"></div>
                    </div>
                    <!-- progress end -->
                    <!-- progress start -->
                    <div class="progress">
                      <div class="lead">Graphics Design 80%</div>
                      <div class="progress-bar wow fadeInLeft" data-progress="80%" style="width: 80%;" data-wow-duration="1.5s" data-wow-delay="1.2s"></div>
                    </div>
                    <!-- progress end -->
                    <!-- progress start -->
                    <div class="progress">
                      <div class="lead">Digital Marketing 70%</div>
                      <div class="progress-bar wow fadeInLeft" data-progress="70%" style="width: 70%;" data-wow-duration="1.5s" data-wow-delay="1.2s"></div>
                    </div>
                    <!-- PROGRESS END -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <br />
</section>
<!-- End of About Section-->

<div class="head_title center m-y-3 wow fadeInUp">
  <h2>Join Us</h2>
  <p> Web Next Technology 
    team of designers first gain a clear understanding of 
    what real matters to you and then create a design around those very needs.</p>
</div>
<section id="joinus" class="joinus">
  <div class="main_joinus_area m-y-3">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="main_joinus_content center white-text wow fadeInUp">
            <i class="fa fa-user-plus m-b-1"></i>
            <h2 class="text-uppercase m-b-3">Join Our Creative company</h2>
            <p style="color: rgb(226, 21, 21);">“ Hello! We understand that you have the best knowledge of your business, and a 
                great website cannot be created without your assistance.”</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of JoinUs section -->
