<hr>
<hr>
<!-- Start Contact -->
<section id="contact" class="contact_bg">
	<div class="container">
		<div class="row">

			<div class="col-md-12">
				<div class="head_title center m-y-3 wow fadeInUp">
					<h2> Contact Us </h2>
					<h4>Let drop a line to us & we will be in touch soon.
					</h4>
				</div>

				<div class="col-md-6">
					<div class="info">
						<form #inquiryForm="ngForm" (ngSubmit)="send(inquiryForm.value)" method="post" id="inquiryForm">
							<div class="form-group">
								<label for="name">Name</label>
								<br>
								<input class="form-control" type="text" ngModel name="name" placeholder="Enter Your Name" required>
								<br>
							</div>
							<div class="form-group">
								<label for="email">Email ID</label>
								<br>
								<input class="form-control" type="email" ngModel name="email" placeholder="Enter Your Email" required>
								<br>
							</div>
							<div class="form-group">
								<label for="phone">Phone</label>
								<br>
								<input class="form-control" type="tel" ngModel name="phone" placeholder="Enter Your Phone" required>
								<br>
							</div>
							<div class="form-group">
								<label for="message">Message</label>
								<br>
								<textarea class="form-control" ngModel name="msg" class="msg-box" placeholder="Enter Your Message Here..." required></textarea>
								<br>
							</div>
							<div class="form-group">
								<input class="form-control" type="submit" name="submit" value="Send Message" class="btn btn-danger">
							</div>
						</form>
					</div>
				</div>


				<div class="col-md-6">
					<div class="contact_text">
						<ul>
							<li>
								<span>
									<i class="fa fa-home" aria-hidden="true"></i>
								</span>
								<h5> E-49, Sector-3, Near Sector-16 Metro Station, Noida, U.P.-201301</h5>
							</li>
							<br>
							<li>
								<span>
									<i class="fa fa-envelope-o" aria-hidden="true"></i>
								</span>
								<h5> info@webnexttechnology.com </h5>
							</li>
							<br>
							<li>
								<span>
									<i class="fa fa-phone" aria-hidden="true"></i>
								</span>
								<h5> (91) 9311111815 </h5>
							</li>
							<br>
							<li>
								<span>
									<i class="fa fa-fax" aria-hidden="true"></i>
								</span>
								<h5> (91) 9315015872 </h5>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<hr>
<div>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.618650443667!2d77.31588331467884!3d28.581211982438035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce45bd53582c7%3A0xe4bf9da07c4cb96c!2sWeb+Next+Technology!5e0!3m2!1sen!2sin!4v1534424595405"
	 width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>

</div>
<!-- End of Contact -->