<br/>
<br/>
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="main_portfolio_area m-y-3">
                <div class="head_title center wow fadeInUp">
                    <h2>Our Awesome Works</h2>
                    <p>Website design Services encompasses with many different skills and disciplines in the production and
                        maintenance of websites. WordPress CMS has become the most preferred and celebrated CMS platform
                        around the globe for making easy-to-manage, Secure and SEO </p>
                </div>

                <div class="main_portfolio_content center wow fadeInUp">
                    <div class="main_mix_menu m-y-2">
                        <ul class="text-uppercase">
                            <li class="filter" data-filter="all">All</li>
                            <li class="filter" data-filter=".cat1">Web development</li>
                            <li class="filter" data-filter=".cat2">App development</li>
                            <li class="filter" data-filter=".cat3">software development</li>
                            <li class="filter" data-filter=".cat4">Marketing</li>
                        </ul>
                    </div>

                    <div id="mixcontent" class="mixcontent  wow zoomIn">
                        <div class="col-md-4 mix cat4 cat2">
                            <div class="single_mixi_portfolio center">
                                <div class="single_portfolio_img">
                                    <img src="/assets/img/mob1.jpg" alt="" />
                                    <div class="mixi_portfolio_overlay">
                                        <a href="#!">
                                            <i class="fa fa-search"></i>
                                        </a>
                                        <a href="/assets/img/mob1.jpg" class="gallery-img">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="single_portfolio_text">
                                    <h3>Our Work Image 06</h3>
                                    <p>Web Next Technology dolor sit amet, consectetur</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mix cat4 cat1">
                            <div class="single_mixi_portfolio center">
                                <div class="single_portfolio_img">
                                    <img src="/assets/img/port2.jpg" alt="" />
                                    <div class="mixi_portfolio_overlay">
                                        <a href="#!">
                                            <i class="fa fa-search"></i>
                                        </a>
                                        <a href="/assets/img/port2.jpg" class="gallery-img">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="single_portfolio_text">
                                    <h3>Our Work Image 06</h3>
                                    <p>Web Next Technology dolor sit amet, consectetur</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mix cat2 cat4">
                            <div class="single_mixi_portfolio center">
                                <div class="single_portfolio_img">
                                    <img src="/assets/img/mob2.jpg" alt="" />
                                    <div class="mixi_portfolio_overlay">
                                        <a href="#!">
                                            <i class="fa fa-search"></i>
                                        </a>
                                        <a href="/assets/img/mob2.jpg" class="gallery-img">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="single_portfolio_text">
                                    <h3>Our Work Image 06</h3>
                                    <p>Web Next Technology dolor sit amet, consectetur</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mix cat2 cat3">
                            <div class="single_mixi_portfolio center">
                                <div class="single_portfolio_img">
                                    <img src="/assets/img/mob3.jpg" alt="" />
                                    <div class="mixi_portfolio_overlay">
                                        <a href="#!">
                                            <i class="fa fa-search"></i>
                                        </a>
                                        <a href="/assets/img/mob3.jpg" class="gallery-img">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="single_portfolio_text">
                                    <h3>Our Work Image 06</h3>
                                    <p>Web Next Technology dolor sit amet, consectetur</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mix cat3 cat4">
                            <div class="single_mixi_portfolio center">
                                <div class="single_portfolio_img">
                                    <img src="/assets/img/soft1.jpg" alt="" />
                                    <div class="mixi_portfolio_overlay">
                                        <a href="#!">
                                            <i class="fa fa-search"></i>
                                        </a>
                                        <a href="/assets/img/soft1.jpg" class="gallery-img">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="single_portfolio_text">
                                    <h3>Our Work Image 06</h3>
                                    <p>Web Next Technology dolor sit amet, consectetur</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mix cat1 cat3">
                            <div class="single_mixi_portfolio center">
                                <div class="single_portfolio_img">
                                    <img src="/assets/img/port3.jpg" alt="" />
                                    <div class="mixi_portfolio_overlay">
                                        <a href="#!">
                                            <i class="fa fa-search"></i>
                                        </a>
                                        <a href="/assets/img/port3.jpg" class="gallery-img">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="single_portfolio_text">
                                    <h3>Our Work Image 06</h3>
                                    <p>Web Next Technology dolor sit amet, consectetur</p>
                                </div>
                            </div>
                        </div>
                        <!-- End of col-md-4 -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
</section>
<!-- End of Portfolio Section -->


<section id="client" class="client">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="main_client_area">
                    <div class="head_title center m-y-3 wow fadeInUp">
                        <h2>CUSTOMER REVIEWS</h2>
                    </div>
                    <div class="carousel carousel-slider">
                        <div class="carousel-item">
                            <div class="single_client_area">
                                <div class="single_client">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="single_c_img center">
                                                <img class="img-circle" src="/assets/img/customer.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="single_c_text text-md-left text-xs-center">
                                                <h3>Anil Sharma</h3>
                                                <span class="text-uppercase m-b-1">PRD Logistics</span>
                                                <p>“ I am very much thankfull to Web Next Technology for there support and responce.
                                                    I have been getting a great service since last 3 years”.......</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single_client">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="single_c_img center">
                                                <img class="img-circle" src="/assets/img/customer.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="single_c_text text-md-left text-xs-center">
                                                <h3>Sanjay Singhania</h3>
                                                <span class="text-uppercase m-b-1">BikeBot</span>
                                                <p>“ Web Next Technology is a great plateform to grow your business. I have
                                                    a awesome experience to work with Web Next Technology ”......</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of carouser item -->
                    </div>
                    <!-- End of carouser slider -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of client Section -->


<section id="counter" class="counter">
    <div class="main_counter_area m-y-3">
        <div class="overlay p-y-3">
            <div class="container">
                <div class="row">
                    <div class="main_counter_content center white-text wow fadeInUp">
                        <div class="col-md-3">
                            <div class="single_counter p-y-2 m-t-1">
                                <i class="fa fa-heart m-b-1"></i>
                                <h2 class="statistic-counter">325</h2>
                                <p>Awesome Designes</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single_counter p-y-2 m-t-1">
                                <i class="fa fa-check m-b-1"></i>
                                <h2 class="statistic-counter">400</h2>
                                <p>Check Our</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single_counter p-y-2 m-t-1">
                                <i class="fa fa-refresh m-b-1"></i>
                                <h2 class="statistic-counter">215</h2>
                                <p>repeat client</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single_counter p-y-2 m-t-1">
                                <i class="fa fa-beer m-b-1"></i>
                                <h2 class="statistic-counter">25</h2>
                                <p>Awards</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of counter Section -->