<!--The content below is only a placeholder and can be replaced.-->
 <!-- Start your project here-->
        <!--Navbar-->

        <div class='preloader'><div class='loaded'>&nbsp;</div></div>

        <nav class="navbar navbar-fixed-top navbar-light bg-faded">
            <!--Collapse button-->
            <div class="container">
                <a href="#" data-activates="mobile-menu" class="button-collapse right"><i class="fa fa-bars black-text"></i></a>

                <!--Content for large and medium screens-->
                <div class="navbar-desktop">
                    <!--Navbar Brand-->
                    <a class="header_logo" href="home"><img src="/assets/img/WebLogo.png" alt="Web Next Logo" /> </a>
                    <!--Links-->
                    <ul class="nav navbar-nav pull-right hidden-md-down text-uppercase">
                        <li class="nav-item">
                            <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="service">Service</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="portfolio">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact">Contact</a>
                        </li>
                    </ul>
                </div>

                <!-- Content for mobile devices-->
                <div class="navbar-mobile">

                    <ul class="side-nav" id="mobile-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="service">Service</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="portfolio">portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--/.Navbar-->

<router-outlet></router-outlet>

        <hr>
        <section id="footer" class="footer">
          <div class="container">
              <div class="row">
                  <div class="main_footer_area white-text p-b-3">
                      <div class="col-md-4">
                          <div class="single_f_widget p-t-3 wow fadeInUp">
                              <img src="/assets/img/WebLogo.png" alt="" />
                              <div class="single_f_widget_text">
                                  <p style="font-weight: bold">Think Beyond The Imagination</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="single_f_widget m-t-3 wow fadeInUp">
                              <h4 class="text-uppercase">Some features</h4>
                              <div class="single_f_widget_text f_reatures">
                                  <ul>
                                      <li><i class="fa fa-check"></i>Excellent Business</li>
                                      <li><i class="fa fa-check"></i>Rich Collection of Themes</li>
                                      <li><i class="fa fa-check"></i>A Great Web Presence</li>
                                      <li><i class="fa fa-check"></i>Timly Delivered With Perfection</li>
                                      <li><i class="fa fa-check"></i>Advance Online Product Designing</li>
                                      <li><i class="fa fa-check"></i>Unlimited Support</li>
                                      <li><i class="fa fa-check"></i>Fully Responsive Application</li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="single_f_widget m-t-3 wow fadeInUp">
                              <h4 class="text-uppercase">Tags</h4>
                              <ul class="single_f_widget_text f_reatures">
                                  <li><i class="fa fa-home"></i> <a href="home"> Home</a></li>
                                  <li><i class="fa fa-thumbs-o-up"></i> <a href="about"> About</a></li>
                                  <li><i class="fa fa-cog"></i> <a href="service"> Service</a></li>
                                  <li><i class="fa fa-file"></i> <a href="portfolio"> Portfolio</a></li>
                                  <li><i class="fa fa-phone"></i> <a href="contact"> Contact</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="main_coppyright" >
              <div class="container">
                  <div class="row">
                      <div class="col-sm-6 col-xs-12">
                          <div class="copyright_text m-t-2 text-xs-center">
                              <p class="wow zoomIn" data-wow-duration="1s">Copyright &copy; 2018 by <a target="_black" href="home">Web Next Technology</a> All Rights Reserved</p>
                          </div>
                      </div>
                      <div class="col-sm-6" style="font-size: 25px;">
                          <div class="socail_coppyright text-sm-right m-t-2 text-xs-center wow zoomIn">
                              <a href="#!"><i class="fa fa-facebook-square"></i></a>
                              <a href="#!"><i class="fa fa-google-plus-square"></i></a>
                              <a href="#!"><i class="fa fa-instagram"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>



