<hr>

<p>
  test works!
</p>
<hr>
<hr>
<h2>Test Page</h2>

<div class="container">
  <div class="row">
    <div class="col-md-6">

      <div class="main_accordion" class="panel-group">

        <div class="panel panel-primary">
          <button href="#panelBodyNew" class="panel-heading" data-toggle="collapse" data-parent="#main_accordion">
            <div class="panel-title">
              <a>Web Next Technology dolor sit amet</a>
            </div>
          </button>

          <div id="panelBodyNew">
            <div class="panel-body">
              <p>Consectetur adipiscing elit. Aliquam sagittis nulla non elit dignissim suscipit. Duis lorem nulla, eleifend
                Ut urna dui, interdum non blandit sed, hendrerit ultricies mi. Aliquam at scelerisque ligula. Curabitur id
                laoreet velit.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div id="accordion1" class="panel-group">
        <div class="panel panel-primary">
          <div class="panel panel-heading">
            <h2 class="panel-title">
              <a href="#panelBodyOne" data-toggle="collapse" data-parent="#accordion">Asia</a>
            </h2>
          </div>
          <div id="panelBodyOne" class="panel-collapse collapse">
            <div class="panel-body">
              <p>this is first panel body text message to show the panel content in the panel texxt</p>
            </div>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel panel-heading">
            <h2 class="panel-title">
              <a href="#panelBodyTwo" data-toggle="collapse" data-parent="#accordion">America</a>
            </h2>
          </div>
          <div id="panelBodyTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <p>this is second panel body text message to show the panel content in the panel texxt</p>
            </div>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel panel-heading">
            <h2 class="panel-title">
              <a href="#panelBodyThree" data-toggle="collapse" data-parent="#accordion">Europe</a>
            </h2>
          </div>
          <div id="panelBodyThree" class="panel-collapse collapse">
            <div class="panel-body">
              <p>this is third panel body text message to show the panel content in the panel texxt</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->