<div id="home" class="slider">
    <ul class="slides">
        <li>
            <img src="/assets/img/homebanner.jpg">
            <!-- random image -->
            <div class="caption center-align">
                <div class="single_home">
                    <h1 class="ml2" >We Are Creator</h1>
                    <h3>We Create The Opportunities</h3>
                </div>
            </div>
        </li>
        <li>
            <img src="/assets/img/homebanner2.jpg">
            <!-- random image -->
            <div class="caption center-align">
                <div class="single_home">
                    <h1 class="ml2">We Are Developer</h1>
                    <h3>We Develope New Ideas</h3>
                </div>
            </div>
        </li>
        <li>
            <img src="/assets/img/homebanner3.jpg">
            <!-- random image -->
            <div class="caption center-align">
                <div class="single_home">
                    <h1 class="ml2">We Are Designer</h1>
                    <h3>We Design Awesome Themes</h3>
                </div>
            </div>
        </li>
        <li>
            <img src="/assets/img/homebanner1.jpg">
            <!-- random image -->
            <!-- <div class="caption center-align"> -->
            <div class="caption center-align">
                <div class="single_home">
                    <h1 class="ml2">We Are Thinkers</h1>
                    <h3>We Thing Beyond The Imagination</h3>
                </div>
            </div>
        </li>
    </ul>
</div>
<!-- End of Home -->

<hr>

<!-- Start Technology  -->
<section id="Technology">
    <div class="container">
        <div class="row">
            <div class="main_portfolio_area m-y-3">
                <div class="head_title center wow fadeInUp">
                    <h2>Tools & Technologies</h2>
                    <p>Technology is technique or knowledge which used practically 
                        to solve the problems or invented new things. Technology has long history. </p>
                </div>

                <div class="main_portfolio_content center wow fadeInUp">
                    <div class="col-md-12" class="logo_animation">
                        <div class="col-md-3">
                            <div class="single_mixi_portfolio center">
                                <a>
                                    <img src="/assets/img/android.jpg" alt="" />
                                </a>
                            </div>
                            <div class="single_portfolio_text">
                                <h3>Android</h3>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single_mixi_portfolio center">
                                <a>
                                    <img src="/assets/img/angularjs.jpg" alt="" />
                                </a>
                            </div>
                            <div class="single_portfolio_text">
                                <h3>AngularJS</h3>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single_mixi_portfolio center">
                                <a>
                                    <img src="/assets/img/java.jpg" alt="" />
                                </a>
                            </div>
                            <div class="single_portfolio_text">
                                <h3>JAVA</h3>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single_mixi_portfolio center">
                                <a>
                                    <img src="/assets/img/PHP.jpg" alt="" />
                                </a>
                            </div>
                            <div class="single_portfolio_text">
                                <h3>Php</h3>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-12" class="logo_animation">
                        <div class="col-md-3">
                            <div class="single_mixi_portfolio center">
                                <a>
                                    <img src="/assets/img/HTML5.jpg" alt="" />
                                </a>
                            </div>
                            <div class="single_portfolio_text">
                                <h3>HTML</h3>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single_mixi_portfolio center">
                                <a>
                                    <img src="/assets/img/css.jpg" alt="" />
                                </a>
                            </div>
                            <div class="single_portfolio_text">
                                <h3>CSS</h3>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single_mixi_portfolio center">
                                <a>
                                    <img src="/assets/img/jQuery.jpg" alt="" />
                                </a>
                            </div>
                            <div class="single_portfolio_text">
                                <h3>jQuery</h3>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single_mixi_portfolio center">
                                <a>
                                    <img src="/assets/img/javascript.jpg" alt="" />
                                </a>
                            </div>
                            <div class="single_portfolio_text">
                                <h3>JavaScript</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" class="logo_animation">
                        <div class="col-md-3">
                            <div class="single_mixi_portfolio center">
                                <a>
                                    <img src="/assets/img/mongodb-1.jpg" alt="" />
                                </a>
                            </div>
                            <div class="single_portfolio_text">
                                <h3>MongoDB</h3>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single_mixi_portfolio center">
                                <a>
                                    <img src="/assets/img/mysql.jpg" alt="" />
                                </a>
                            </div>
                            <div class="single_portfolio_text">
                                <h3>mysql</h3>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single_mixi_portfolio center">
                                <a>
                                    <img src="/assets/img/dotnet.jpg" alt="" />
                                </a>
                            </div>
                            <div class="single_portfolio_text">
                                <h3>DotNet</h3>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single_mixi_portfolio center">
                                <a>
                                    <img src="/assets/img/sql.jpg" alt="" />
                                </a>
                            </div>
                            <div class="single_portfolio_text">
                                <h3>sql</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" class="logo_animation">
                        <div class="col-md-3">
                            <div class="single_mixi_portfolio center">
                                <a>
                                    <img src="/assets/img/python.jpg" alt="" />
                                </a>
                            </div>
                            <div class="single_portfolio_text">
                                <h3>python</h3>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single_mixi_portfolio center">
                                <a>
                                    <img src="/assets/img/swift.jpg" alt="" />
                                </a>
                            </div>
                            <div class="single_portfolio_text">
                                <h3>swift</h3>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single_mixi_portfolio center">
                                <a>
                                    <img src="/assets/img/hadoop.jpg" alt="" />
                                </a>
                            </div>
                            <div class="single_portfolio_text">
                                <h3>hadoop</h3>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single_mixi_portfolio center">
                                <a>
                                    <img src="/assets/img/angular.jpg" alt="" />
                                </a>
                            </div>
                            <div class="single_portfolio_text">
                                <h3>Angular</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" class="logo_animation">
                        <div class="col-md-3">
                            <div class="single_mixi_portfolio center">
                                <a>
                                    <img src="/assets/img/amazon.jpg" alt="" />
                                </a>
                            </div>
                            <div class="single_portfolio_text">
                                <h3>AWS</h3>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single_mixi_portfolio center">
                                <a>
                                    <img src="/assets/img/typescript.jpg" alt="" />
                                </a>
                            </div>
                            <div class="single_portfolio_text">
                                <h3>typescript</h3>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single_mixi_portfolio center">
                                <a>
                                    <img src="/assets/img/node.jpg" alt="" />
                                </a>
                            </div>
                            <div class="single_portfolio_text">
                                <h3>Nodejs</h3>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single_mixi_portfolio center">
                                <a>
                                    <img src="/assets/img/tomcat.jpg" alt="" />
                                </a>
                            </div>
                            <div class="single_portfolio_text">
                                <h3>Apache Tomcat</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Technology Section -->